@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

body {
  background: rgb(26,28,32);
background: linear-gradient(131deg, rgba(26,28,32,1) 40%, rgb(43, 54, 67) 100%);
}
html{
  scroll-behavior: smooth;
}
.mobile_info{
  display: none;
}


#app {
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%); */


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#chat_container {
  flex: 1;
  width: 85%;
  height: max-content;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
  margin-top: 40px;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #353643a8;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #dcdcdc;
  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 98%;
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 10px;
  background: #2c2c367d;

  display: flex;
  flex-direction: row;
  gap: 10px;

  margin-bottom: 30px;
  
  box-shadow: 15px 9px 30px 0px #14171e;
}

textarea {
  width: 100%;

  color: #fff;
  font-size: 18px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}
.sidebar_container {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0%,-50%);
  -webkit-transform: translate(0%,-50%);
  -moz-transform: translate(0%,-50%);
  -ms-transform: translate(0%,-50%);
  -o-transform: translate(0%,-50%);
  width: 80px;
  /* background: #fff; */
  height: 350px;
}
.sidebar_inner{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.menu_item {
  width: 56px;
  height: 56px;
  padding: 10px;
  background-color: #4e4f4f63;
  /*overflow: hidden;
  */display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13%;
  margin-bottom: 12px;
  position: relative;
  transition:.3s ease ;
  -webkit-transition:.3s ease ;
  -moz-transition:.3s ease ;
  -ms-transition:.3s ease ;
  -o-transition:.3s ease ;
}
.menu_content {
  position: absolute;
  width: 350px;
  height: max-content;
  right: 130px;
  background-color: #3e3f4f;
  padding: 11px;
  color: #b9bac0;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  /* border: 2px solid #999; */
  transition: all .4s ease-in;
  box-shadow: 0px 6px 8px 2px #2a2929ad;
}
.menu_content::after {
  content: "";
  background-color: #3e3f4f;
  /* border: 3px solid #999; */
  width: 23px;
  height: 25px;
  display: block;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translate(0%, -50%) rotate(45deg);
  z-index: 1;
}
.menu_item i{
  font-size: 24px;
}
.menu_item:hover{
  background-color: #4b4f55bd;
}
.menu_item:hover .menu_content{
  visibility: visible;
  transition: all .3s ease;
  right: 100px;
  opacity: 1;
}

.mobile_footer{
  display: none;
}

@media only screen and (max-width: 601px) {
  .sidebar_container{
   display: none;
 }
 .mobile_info {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
}
  .mobile_info .menu_item{
    width: 40px;
    height: 40px;
  }
  .mobile_footer{
    display: block;
  }
 }